<div class="text-center">
  <h1 class="text-3xl font-semibold underline underline-offset-8 decoration-1">スポット一覧</h1>
</div>
<% if current_user and @spots.present? %>
  <div class="grid lg:grid-cols-3 md:grid-cols-2 px-7">
    <% @spots.each do |spot| %>
      <div class="p-3">
        <%= link_to spot_path(spot) , {class: "block p-6 max-w-lgxl bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"} do%>
          <% if spot.images[0].present? %>
            <%= image_tag spot.images[0].url, class: "object-cover h-48 w-80 mx-auto"%>
          <% else %>
            <%= image_tag "/assets/default.png", class: "object-cover h-48 w-80 mx-auto"%>
          <% end %>
          <div>
            <h5 class="mt-2 mb-2 text-2xl font-bold tracking-tight text-gray-900 bg-gray-200 dark:text-white"><%= spot.name %></h5>
            <p class="font-normal text-gray-700 dark:text-gray-400"><%= spot.comment %></p>
            <div class="flex justify-between mt-5">
              <%= spot.user.name %>
              <div class="flex">
                <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 25px; height: 25px; opacity: 1;" xml:space="preserve">
                  <style type="text/css">
                    .st0{fill:#4B4B4B;}
                  </style>
                  <g>
                    <path class="st0" d="M380.63,32.196C302.639,33.698,264.47,88.893,256,139.075c-8.47-50.182-46.638-105.378-124.63-106.879
                      C59.462,30.814,0,86.128,0,187.076c0,129.588,146.582,189.45,246.817,286.25c3.489,3.371,2.668,3.284,2.668,3.284
                      c1.647,2.031,4.014,3.208,6.504,3.208v0.011c0,0,0.006,0,0.011,0c0,0,0.006,0,0.011,0v-0.011c2.489,0,4.856-1.177,6.503-3.208
                      c0,0-0.821,0.086,2.669-3.284C365.418,376.526,512,316.664,512,187.076C512,86.128,452.538,30.814,380.63,32.196z" style="fill: rgb(223, 86, 86);"></path>
                  </g>
                </svg>
                <p class="ml-2"> <%= spot.likes.count %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
