<div class="text-center">
  <h1 class="text-3xl font-semibold underline underline-offset-8 decoration-1">スポット投稿</h1>
</div>
<div class="block mx-48 px-32 mt-5 mb-8 relative bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <div class="mt-8 mx-12">
    <%= form_with(model: @spot, local: true) do |f| %>
      <div class="mb-5 flex flex-col">
        <%= f.label :name, {class: 'col-span-2 block mb-3 text-sm font-medium text-gray-900 dark:text-gray-300'} %>
        <%= f.text_field :name, class: 'form-control border col-span-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      </div>
      <div class="mb-5 flex flex-col">
        <%= f.label :comment, {class: 'col-span-2 block mb-3 text-sm font-medium text-gray-900 dark:text-gray-300'} %>
        <%= f.text_area :comment, class: 'form-control border col-span-5 block p-4 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      </div>
      <div class="mb-5 flex flex-col">
        <%= f.label :address, {class: 'col-span-2 block mb-3 text-sm font-medium text-gray-900 dark:text-gray-300'} %>
        <%= f.text_field :address, class: 'form-control border col-span-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      </div>
      <p class="block mb-3 text-sm font-medium text-gray-900 dark:text-gray-300">Images</p>
      <%= f.label :images,  {for: 'file', class: 'col-span-2 block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'} do %>
        <div id="uploadArea" class="flex justify-center items-center w-full">
          <div class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col justify-center items-center pt-5 pb-6">
            <%= f.file_field :images, multiple: true, class: 'form-control col-span-5 hidden', id: 'file' %>
              <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span></p>
              <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG, JPEG or GIF</p>
            </div>
          </div>
        </div> 
      <% end %>
      <div class="flex">
        <div id="result" class="mr-3 w-32"></div>
        <div id="result2" class="mr-3 w-32"></div>
        <div id="result3" class="mr-3 w-32"></div>
      </div>
      <div class="text-center mt-10 mb-32">
        <%= f.submit "スポットを投稿する",class: "bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" %>
      </div>
    <% end %>
  </div>
</div>
<script>
$(function(){
    $('#file').change(function(){
        $('img').remove();
        var file1 = $(this).prop('files')[0];
        var file2 = $(this).prop('files')[1];
        var file3 = $(this).prop('files')[2];

        if(!file1.type.match('image.*')){
            return;
        }
        var fileReader = new FileReader();
        fileReader.onloadend = function() {
            $('#result').html('<img src="' + fileReader.result + '"/>');
        }
        var fileReader2 = new FileReader();
        fileReader2.onloadend = function() {
            $('#result2').html('<img src="' + fileReader2.result + '"/>');
        }
        var fileReader3 = new FileReader();
        fileReader3.onloadend = function() {
            $('#result3').html('<img src="' + fileReader3.result + '"/>');
        }
        fileReader.readAsDataURL(file1);
        fileReader2.readAsDataURL(file2);
        fileReader3.readAsDataURL(file3);
    });
});

</script>
