<div class="text-center">
  <h1 class="text-3xl font-semibold underline underline-offset-8 decoration-1">スポット投稿</h1>
</div>
<div class="block mx-32 py-48 px-32 mt-5 relative bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <div class="row mt-6">
    <div class="wrap col-md-6 col-md-offset-3">
      <%= form_with(model: @spot, local: true) do |f| %>

        <div class="mb-5 grid grid-cols-7">
          <%= f.label :name, {class: 'col-span-2'} %>
          <%= f.text_field :name, class: 'form-control border col-span-5' %>
        </div>

        <div class="mb-5 grid grid-cols-7">
          <%= f.label :comment, {class: 'col-span-2'} %>
          <%= f.text_area :comment, class: 'form-control border col-span-5' %>
        </div>

        <div class="mb-5 grid grid-cols-7">
          <%= f.label :images, {class: 'col-span-2'} %>
          <%= f.file_field :images, multiple: true, class: 'form-control border col-span-5' %>
        </div>

        <div class="mb-5 grid grid-cols-7">
          <%= f.label :address, {class: 'col-span-2'} %>
          <%= f.text_field :address, class: 'form-control border col-span-5' %>
        </div>
        <div class="text-center">
          <%= f.submit "スポットを投稿する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
