<div class="block py-8 mx-32 mt-5 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <div class="grid grid-cols-2 gap-5 flex justify-around">
    <div class="">
      <div class="mx-auto" x-data="{ open: false }">
        <% if @spot.images.present? %>
          <ul class="slider">
            <% @spot.images.each do |image| %>
              <li @click="open = true"><%= image_tag image.url, class: "m-5 object-contain h-96"%></li>
            <% end %>
          </ul>
          <ul class="thumbnail px-10">
            <% @spot.images.each do |thumb| %>
              <li><%= image_tag thumb.url, class: "object-contain h-24", :style=> "margin: 0 auto;"%></li>
            <% end %>
          </ul>
        <% else %>
          <%= image_tag "/assets/default.png"%>
        <% end %>
          <div class="absolute top-0 z-10 left-0 w-full h-full flex items-center justify-center" style="background-color: rgba(0,0,0,.5);"  x-show="open">
            <div class="text-left bg-white h-auto p-4 md:max-w-xl md:p-6 lg:p-8 shadow-xl rounded mx-2 md:mx-0" @click.away="open = false">
              <h2 class="text-2xl"><%= @spot.name %></h2>
              <ul class="slider-modal">
                <% @spot.images.each do |image,index| %>
                  <li style="" @click="open = true"><%= image_tag image.url, class: "m-5 object-contain h-96"%></li>
                <% end %>
              </ul>
              <div class="flex justify-center mt-8">
                <button class="bg-gray-700 text-white px-4 py-2 rounded no-outline focus:shadow-outline select-none" @click="open = false">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="mr-6">
      <div class="mt-5 flex items-center bg-gray-200">
        <svg class="w-9 h-9" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
        <h5 class="mt-2 mb-2 ml-2 text-5xl font-bold tracking-tight text-gray-900 dark:text-white"><%= @spot.name %></h5>
      </div>
      <p class="font-normal text-gray-700 dark:text-gray-400">コメント(Comment):<%= @spot.comment %></p>
      <%= link_to user_show_path(@spot.user_id) do %>
        <p>投稿者(Author):<%= @spot.user.name %></p>
      <% end %>
      
      <h3>緯度：<%= @spot.latitude %><br>経度：<%= @spot.longitude %><br>場所：<%= @spot.address %></h3>
      <% if @spot.latitude.present? %>
        <div class="h-1/2">
          <script src="http://maps.google.com/maps/api/js?key=AIzaSyCr5QofQ0Nu28hWjAnXzOaLp1zG38-LYKY&language=ja"></script>
          <style>
            #map { height: 80%; width: 100%}
          </style>
          <div id="map" class="my-2 z-1"></div>
          <script>
            var MyLatLng = new google.maps.LatLng(<%= @spot.latitude %>, <%= @spot.longitude %>);
            var Options = {
              zoom: 14,      //地図の縮尺値
              center: MyLatLng,    //地図の中心座標
              mapTypeId: 'roadmap',  //地図の種類
              zIndex: 5 ,
            };
            var map = new google.maps.Map(document.getElementById('map'), Options);
          </script>
        </div>
      <% end %>
      <div class="flex pb-3">
        <%= link_to 'DELETE', "/spots/#{@spot.id}", method: :delete,class: "px-3 py-1 mx-2 border hover:bg-gray-100 hover:white rounded-full", data: {confirm: "削除しますか？"} %>
        <%= link_to 'EDIT', "/spots/#{@spot.id}/edit", {class: "px-3 py-1 mx-2 border hover:bg-gray-100 hover:white rounded-full"} %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.slider').slick({
      fade:false,//切り替えをフェードで行う。初期値はfalse。
      autoplay: false,//自動的に動き出すか。初期値はfalse。
      autoplaySpeed: 3000,//次のスライドに切り替わる待ち時間
      speed:1000,//スライドの動きのスピード。初期値は300。
      // slidesToShow: 1,//スライドを画面に3枚見せる
      // slidesToScroll: 1,//1回のスクロールで3枚の写真を移動して見せる
      asNavFor:'.thumbnail',
      arrows: true,//左右の矢印あり
      variableWidth: true,
      centerMode:true,
      // prevArrow: '<div class="slide-arrow prev-arrow"></div>',//矢印部分PreviewのHTMLを変更
      // nextArrow: '<div class="slide-arrow next-arrow"></div>',//矢印部分NextのHTMLを変更
      dots: true,//下部ドットナビゲーションの表示
          pauseOnFocus: false,//フォーカスで一時停止を無効
          pauseOnHover: false,//マウスホバーで一時停止を無効
          pauseOnDotsHover: false,//ドットナビゲーションをマウスホバーで一時停止を無効
  });
  $('.thumbnail').slick({
      asNavFor:'.slider',
      focusOnSelect: true,
      arrows: false,
      slidesToShow:3,
  });
    $('.slider-modal').slick({
      arrows: true,//左右の矢印あり
      variableWidth: true,
      centerMode:true,
      centerPadding: '50px',
      prevArrow: '<div class="slide-arrow prev-arrow"></div>',//矢印部分PreviewのHTMLを変更
      nextArrow: '<div class="slide-arrow next-arrow"></div>',//矢印部分NextのHTMLを変更
      dots: true,//下部ドットナビゲーションの表示
  });
</script>

