<% provide(:title, "探索") %>
<div class="flex justify-center my-4">
  <div class="border-double border-l-4 border-blue-500"></div>
  <h1 class="mx-2 text-3xl font-semibold">探索</h1>
</div>
<div id="search" class="mt-4 py-4 mx-4 sm:mx-12 md:mx-12 lg:mx-32 xl:mx-32  border rounded-md p-3">
  <div id="word" class="flex">
    <span class="text-left pl-8 mr-1 mb-3">フリーワード探索</span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-blue-500">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
    </svg>
  </div>
  <%= form_with url: searches_search_path,class: 'flex px-8 gap-5 text-center', local: true, method: :get do |f| %>
    <%= f.text_field :q  , class: 'form-control border col-span-5 px-8 h-12 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
    <%= f.submit ("探索") , class: 'border bg-slate-200 p-1'%>
  <% end %>
  <hr class="text-center mx-auto my-5 w-11/12">
  <div id="tags" class="flex flex-col mb-5 mt-2 mx-0 ml-8">
    <div class="flex">
      <span class="text-left mb-3">人気のタグで探索</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-1 mr-5 w-6 h-6 text-blue-500">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
      </svg>
    </div>
    <div class="flex flex-wrap gap-y-2">
      <% @tags.each do |tag| %>
        <%= link_to(searches_search_path(tags: tag.name)) do %>
          <div class="text-xs inline-flex items-center leading-sm px-3 py-1 mr-1 bg-blue-500 text-white rounded-full hover:scale-105 duration-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
            </svg>
            <span class="text-base"><%= tag.name %>(<%= tag.taggings_count %>)<span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr class="text-center mx-auto my-5 w-11/12">
  <div id="neighborhood" class="mb-5 mt-2 mx-0 ml-8">
    <div class="flex">
      <span class="text-left mb-3">周辺探索（約3km圏内のスポット）</span>
      <svg  class="mr-5 w-6 h-6 text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
      </svg>
    </div>
    <div class="flex">
      <% if current_user.current_location.exists? %>
        <% @neighborhood_spots.each do |spot| %>
          <%= link_to spot_path(spot) do %>
            <div class="mt-4 py-4 mr-4 border-2 border-blue-300 shadow-md rounded-md p-3 hover:bg-gray-100">
              <div class="flex items-center gap-3">
                <% if spot.images[0].present? %>
                  <%= image_tag spot.images[0].url, class: "border rounded-md object-contain h-12 w-12 mx-auto", size: "30x30"%>
                <% else %>
                  <%= image_tag "/assets/default.png", class: "border rounded-md object-cover h-12 w-12 mx-auto"%>
                <% end %>
                <div class="flex flex-col">
                  <span class="text-md text-slate-500 font-semibold"><%= spot.name %></span>
                  <span class="text-sm text-slate-400"><%= spot.address %></span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "現在位置を登録することで周辺のスポットを検索できます",user_show_path(id: current_user.id), class: "flex bg-blue-400 hover:bg-blue-300 p-3 rounded-md text-white"  %>
      <% end %>
    </div>
  </div>
</div>
<div id="search_condition" class="mt-8 text-center"></div>
<div class="flex items-center justify-center text-center">
  <div id="result_count" class="my-3"></div>
  <span id="divide" class="hidden">｜</span>
  <div id="result_count_users" class="my-3"></div>
</div>
<div class="tab_box border-gray-200 mb-8">
  <ul class="btn_area flex flex-wrap justify-center mx-auto my-5 border-b text-sm font-medium text-center text-gray-500 dark:text-gray-400">
    <div id="spot_tab" class="tab_btn border-b-2 border-blue-600 active">
      <div class="inline-flex p-4 rounded-t-lg  text-blue-600">
        <svg aria-hidden="true" class="mr-2 w-5 h-5 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
        </svg>
        スポット
      </div>
    </div>
    <div id="user_tab" class="tab_btn">
      <div class="inline-flex p-4 rounded-t-lg text-blue-600" aria-current="page">
        <svg aria-hidden="true" class="mr-2 w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path></svg>ユーザー
      </div>
    </div>
  </ul>
  <div class="panel_area">
    <div class="tab_panel active">
      <div id="spots">
        <% if current_user and @spots.present? %>
          <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:px-1 lg:px-7">
            <% @spots.each do |spot| %>
              <div class="p-3">
                <%= link_to spot_path(spot) , {class: "block p-6 max-w-lgxl bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100"} do%>
                  <% if spot.images[0].present? %>
                    <%= image_tag spot.images[0].url, class: "object-cover h-48 w-80 mx-auto"%>
                  <% else %>
                    <%= image_tag "/assets/default.png", class: "object-cover h-48 w-80 mx-auto"%>
                  <% end %>
                  <div>
                    <h5 class="mt-2 mb-2 text-2xl font-bold tracking-tight text-gray-900 bg-gray-200"><%= spot.name %></h5>
                    <p class="font-normal text-gray-700"><%= spot.comment %></p>
                  </div>
                  <div id="tags" class="my-2 flex flex-wrap gap-y-2 gap-x-1">
                    <% spot.tag_counts_on(:tags).each do |tag| %>
                      <div class="text-xs inline-flex items-center leading-sm px-3 py-1 bg-blue-200 text-blue-700 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-blue-700">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
                        </svg>
                        <span class="text-base"><%= tag.name %><span>
                      </div>
                    <% end %>
                  </div>
                  <div class="flex justify-between mt-1 items-center">
                    <div class="flex items-center">
                      <% if spot.user.image.present? %>
                        <%= image_tag spot.user.image.url,:class=> 'icon-circle-index mr-4' %>
                      <% else %>
                        <%= image_tag 'person.png',:class=> 'icon-circle-index mr-4' %>
                      <% end%>
                      <p class="text-slate-500"><%= spot.user.name %></p>
                    </div>
                    <div class="flex">
                      <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 25px; height: 25px; opacity: 1;" xml:space="preserve">
                        <style type="text/css">
                          .st0{fill:#4B4B4B;}
                        </style>
                        <g>
                          <path class="st0" d="M380.63,32.196C302.639,33.698,264.47,88.893,256,139.075c-8.47-50.182-46.638-105.378-124.63-106.879
                            C59.462,30.814,0,86.128,0,187.076c0,129.588,146.582,189.45,246.817,286.25c3.489,3.371,2.668,3.284,2.668,3.284
                            c1.647,2.031,4.014,3.208,6.504,3.208v0.011c0,0,0.006,0,0.011,0c0,0,0.006,0,0.011,0v-0.011c2.489,0,4.856-1.177,6.503-3.208
                            c0,0-0.821,0.086,2.669-3.284C365.418,376.526,512,316.664,512,187.076C512,86.128,452.538,30.814,380.63,32.196z" style="fill: rgb(223, 86, 86);"></path>
                        </g>
                      </svg>
                      <p class="ml-2"> <%= spot.likes.count %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="mt-5 text-center">
            <p>探索結果がありません。</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 mx-auto my-0">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
            </svg>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab_panel">
      <div id="users">
        <% if current_user and @users.present? %>
          <% @users.each do |user| %>      
            <%= link_to user_show_path(user) , {class: "block p-1 mx-24 mt-4 max-w-lgxl bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100"} do%>
              <div class="grid grid-cols-7 p-3">
                <div class="col-span-2">
                  <% if user.image.present? %>
                    <%= image_tag user.image.url, class: "object-contain h-48 w-80"%>
                  <% else %>
                    <%= image_tag "/assets/default.png", class: "object-contain h-48 w-80"%>
                  <% end %>
                </div>
                <div class="col-span-3">
                  <div>
                    <h5 class="mt-2 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= user.name %></h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400"><%= user.profile %></p>
                  </div>
                </div>
                <div class="col-span-2">
                  <div class="flex flex-col">
                    <% if user.spots.present? %>
                      <p class="text-center">最新の投稿</p>
                      <hr>
                      <% if user.spots.last.images.present? %>
                        <p class="font-semibold my-2 text-gray-700 text-center dark:text-gray-400"><%= user.spots.last.name %></p>
                        <div class="flex justify-center">
                          <%= image_tag user.spots.last.images[0].url, class: "object-contain h-32 w-80"%>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="mt-5 text-center">
            <p>探索結果がありません。</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 mx-auto my-0">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
            </svg>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $('.tab_box .tab_btn').click(function() {
    var index = $('.tab_box .tab_btn').index(this);
    $('.tab_box .tab_btn, .tab_box .tab_panel').removeClass('active border-b-2 border-blue-600');
    $(this).addClass('active border-b-2 border-blue-600');
    $('.tab_box .tab_panel').eq(index).addClass('active');
  });

  $(document).ready(function() {
    var tagParamTag = getParam('tags');
    var tagParamQ = getParam('q');
    var search_condition = document.getElementById("search_condition");
    var result_count = document.getElementById("result_count");
    var result_count_users = document.getElementById("result_count_users");
    var divide = document.getElementById("divide");
    var user_tab = document.getElementById("user_tab");
    if (tagParamTag != null){
      search_condition.innerHTML = "<p><span class='mt-5 mx-1 text-blue-500 text-3xl font-semibold'># " +  tagParamTag + "</span>" + "の検索結果</p>"
      result_count.innerHTML = "<p><span class='my-1 mx-1 text-blue-500 text-xl'>" +  <%= @spots.count %> + "</span>" + "件</p>"
      user_tab.classList.add('hidden');
    }
    if (tagParamQ != null){
      search_condition.innerHTML = "<p><span class='mt-5 mx-1 text-blue-500 text-3xl font-semibold'>" +  tagParamQ + "</span>" + "の検索結果</p>"
      result_count.innerHTML = "<p>スポット<span class='my-1 mx-1 text-blue-500 text-xl'>" +  <%= @spots.count %> + "</span>" + "件</p>"
      result_count_users.innerHTML = "<p>ユーザー<span class='my-1 mx-1 text-blue-500 text-xl'>" +  <%= @users.count %> + "</span>" + "件</p>"
      divide.classList.remove('hidden');
      user_tab.classList.remove('hidden');
    }
  });

  function getParam(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }
</script>