<header class="mb-3">
  <nav class="flex justify-around bg-slate-200 p-4">
    <h1 class="flex items-center">
      <%= link_to "Chottosokomade!!", root_path , {class: "text-3xl font-semibold "}%>
    </h1>
    <ul class="flex items-center">
      <% if current_user.present? %>
        <li class="ml-3 font-semibold"><%= link_to "ホーム", root_path %></li>｜
        <li class="ml-3 font-semibold"><%= link_to "投稿する", new_spot_path %></li>｜
        <li class="ml-3 font-semibold"><%= link_to "探索する", searches_search_path %></li>｜
        <li class="ml-3 font-semibold"><%= link_to "ログアウト", destroy_user_session_path %></li>｜
        <li class="ml-3 font-semibold">
          <%= link_to user_show_path(id: current_user.id) do %>
            <%= image_tag 'person.png', :size => '50x50' %>
          <% end %>
        </li>
      <% else %>
        <li class="font-semibold"><%= link_to "ログイン", user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
